.nav-list .nav-item a {
    color: #42b983;
}
.post-meta .post-date {
    color: #42b983;
}
.social-links ul li a.social-link-item {
    color: #42b983;
}
.cover-card .author_name {
    display: block;
    color: #b94278;
    font-size: 1.75em;
    text-transform: lowercase;
}
